<footer>
    <section class="section1">
        <span>Nombre de la pizzería</span>
        <span>A qué nos dedicamos</span>
    </section>
    <section class="section2">
        <span>Recomendaciones</span>
        <ul>
            <li>Pizza Sabor 1</li>
            <li>Pizza Sabor 2</li>
            <li>Pizza Sabor 3</li>
        </ul>
    </section>
    <section class="section3">
        <span>Soporte al cliente</span>
        <ul>
            <li>
                <a href="#">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-youtube"></i>
                </a>
            </li>
        </ul>
    </section>
</footer>