<header>
    <nav class="redes-sociales">
        <ul>
            <li>
                <a href="#">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-youtube"></i>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="main-nav">
        <a class="logo" href="">
            <img src="assets/images/logo_pizza.png" alt="LOGO_PIZZERIA"> LOGO
        </a>
        <div class="info">
            <i class="bi bi-clock"></i>
            <div>
                <span>LUN - SAB: 12:00 - 22:00</span>
                <p>Horario de atención</p>
            </div>
        </div>
        <div class="info">
            <i class="bi bi-phone-vibrate"></i>
            <div>
                <span>+51 999 999 999</span>
                <p>Contáctanos</p>
            </div>
        </div>    
    </nav>
</header>