<app-header />
<main>
    <section id="inicio" class="inicio">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perferendis harum corporis quas exercitationem, maxime eaque minus non ipsam, earum est voluptate deserunt optio inventore in necessitatibus? Cum, quam pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit distinctio minus quis cupiditate necessitatibus soluta saepe laudantium sint rem, et quasi numquam beatae suscipit dolorem delectus illo. Dignissimos, fugit cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi natus animi placeat consequatur recusandae quod, odio rem harum odit, delectus nobis illo. Eos quis quos at, quasi nostrum iure quo. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam officiis saepe, earum similique perspiciatis ipsam nisi. Saepe maxime ab vero dicta, doloremque quod qui perferendis quibusdam, asperiores obcaecati molestias explicabo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
    </section>

    <section id="destacados" class="destacados">
        <h2>Productos destacados</h2>
        <button class="prev"><i class="bi bi-arrow-left-circle-fill"></i></button>
        <div class="carrusel">
            <div class="card">
                <img src="/assets/images/peperoni.jpg" alt="foto_pizza">
                <h3>Nombre de la Pizza</h3>
                <div class="info">
                    <p>S/.40.00</p>
                    <button>Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/peperoni.jpg" alt="foto_pizza">
                <h3>Nombre de la Pizza</h3>
                <div class="info">
                    <p>S/.40.00</p>
                    <button>Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/peperoni.jpg" alt="foto_pizza">
                <h3>Nombre de la Pizza</h3>
                <div class="info">
                    <p>S/.40.00</p>
                    <button>Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/peperoni.jpg" alt="foto_pizza">
                <h3>Nombre de la Pizza</h3>
                <div class="info">
                    <p>S/.40.00</p>
                    <button>Comprar</button>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/peperoni.jpg" alt="foto_pizza">
                <h3>Nombre de la Pizza</h3>
                <div class="info">
                    <p>S/.40.00</p>
                    <button>Comprar</button>
                </div>
            </div>
        </div>
        <button class="next"><i class="bi bi-arrow-right-circle-fill"></i></button>
    </section>

    <section id="pizzas" class="pizzas">
        <h3>Lista de Productos</h3>
        <div class="tarjeta">
            <img src="" alt="foto_pizza">
            <div class="info-pizza">
                <h5>Nombre de la Pizza</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, incidunt dolor. Itaque sint tempora molestias commodi veritatis aliquid dolore dolor, unde ad nobis quia dicta? Veritatis excepturi blanditiis quia officia!</p>
                <div class="comprar">
                    <p>S/.40.00</p>
                    <button>Comprar</button>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer />